<div style="margin-bottom: 290px;margin-top: 66px;display: flex;justify-content: flex-end;">
  <div class="hero"> 
  <div class="hero__title"><h1>Si vous êtes en difficulté</h1>

  <h3> vous avez  Besoin d’aide juridique en ligne ? Posez vos questions à des experts du droit.
  </h3>
  <p>Nos prestations juridiques en ligne sont fournies par des chevronnés du droit qui sont habilités à répondre à un grand nombre de questions juridiques, et cela, dans plusieurs branches du droit. En effet, cette plateforme à visée informative propose aux internautes un grand nombre de services comme :
  </p>
  <li>Des informations juridiques  en ligne</li>
  <li>L’assistance d’un avocat en ligne pour vous répondre et vous guider</li>
  <li>La proposition de renseignements juridiques personnalisés et adaptés à votre problème</li>
  <li>Un conseil juridique en ligne pour mener à bien vos démarches et procédures.</li>
</div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
</div>
</div>
<div style="width: 30%;height: auto; ;overflow: hidden">
<div style="background-repeat:no-repeat;position: absolute;top:1394px;z-index:-1;right: 500px;width: 100%;height: 100%;;background: url('https://i.imgur.com/ZrbyPIM.png');"></div>
</div>

